<!doctype html>
<html class="no-js" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- all css here -->
<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="static/assets/css/magnific-popup.css">
<link rel="stylesheet" href="static/assets/css/slicknav.min.css">
<link rel="stylesheet" href="static/assets/css/swiper.min.css">
<link rel="stylesheet" href="static/assets/css/zoomslider.css">
<link rel="stylesheet" href="static/assets/css/typography.css">
<link rel="stylesheet" href="static/assets/css/default-css.css">
<link rel="stylesheet" href="static/assets/css/styles.css">
<link rel="stylesheet" href="static/assets/css/responsive.css">
<!-- modernizr css -->
<script src="static/assets/js/vendor/modernizr-2.8.3.min.js"></script>

<style>
	.ant-btn {
	   line-height: 1.499;
	   position: relative;
	   display: inline-block;
	   font-weight: 400;
	   white-space: nowrap;
	   text-align: center;
	   background-image: none;
	   border: 1px solid transparent;
	   -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
	   box-shadow: 0 2px 0 rgba(0,0,0,0.015);
	   cursor: pointer;
	   -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
	   transition: all .3s cubic-bezier(.645, .045, .355, 1);
	   -webkit-user-select: none;
	   -moz-user-select: none;
	   -ms-user-select: none;
	   user-select: none;
	   -ms-touch-action: manipulation;
	   touch-action: manipulation;
	   height: 75px;
	   padding: 0 15px;
	   font-size: 40px;
	   border-radius: 4px;
	   color: rgba(0,0,0,0.65);
	   background-color: #fff;
	   border-color: #d9d9d9;
	   width: 150px;
   }
   
   .ant-btn-primary {
	   color: #fff;
	   background-color: #1890ff;
	   border-color: #1890ff;
	   text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
	   -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
	   box-shadow: 0 2px 0 rgba(0,0,0,0.045);
   }
   .ant-btn-red {
	   color: #fff;
	   background-color: #FF5A44;
	   border-color: #FF5A44;
	   text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
	   -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
	   box-shadow: 0 2px 0 rgba(0,0,0,0.045);
	   width: 150px;
	   height: 75px;
   }
		
   </style>

</head>

<body>
<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<!-- preloader area start -->
<!---<div id="preloader">
	<div class="loader"></div>
</div>--->
<!-- prealoader area end -->
<!-- header area start -->
<header>
	<div class="header-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<div class="logo">
						<a href="index">
							<img src="static/assets/images/icon/iss.png" alt="logo">
						</a>
					</div>
				</div>
				<div class="col-lg-9 d-none d-lg-block">
					<div class="main-menu">
						<nav id="nav_mobile_menu">
							<ul id="navigation">
								<li class="active">
									<a href="#slider_firefly">Home</a>
								</li>
								<li>
									<a href="#about">about</a>
								</li>
								<li>
									<a href="#event">Event</a>
								</li>
								<li>
									<a href="#gallery">gallery</a>
								</li>
								<li>
									<a href="#blog">blog</a>
								</li>
								<li>
									<a href="#contact">Contact Us</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-12 d-block d-lg-none">
					<div id="mobile_menu"></div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header area end -->
<!-- slider area start -->
<div class="slider-area d-flex align-items-center" id="slider_firefly" data-zs-src='["static/assets/images/slider/music-bg1.jpg", "static/assets/images/slider/music-bg2.jpg", "static/assets/images/slider/music-bg3.jpg"]'>
	<div class="container">
		<div class="music-content">
			<br><br><br><br><br><br><br><br><br><br>
			<h2>Your Music Starts
				<br>  From Image</h2>
				<!-- <form action="" enctype='multipart/form-data' method='POST'>
					<input type="file" name="file" style="margin-top:20px;"/>
					<br>
					<i>Just input something</i>
					<input type="submit" value="upload" class="fa fa-play" style="margin-top:15px;"/>
				</form> -->
				<div  hidden id="value_div">{% for i in music_list %}{{ i +','}}{% endfor %}</div>
				<div class="div1" style="margin-right: 50px">
					<!-- <p id = "music_name" style="margin-left: 80px;font-size: 30px;display:none" visibility=false>{{ music_list[0] }}</p><br>  
					<br><br>
					<audio id = "audio" src="/static/music/{{ music_list[0] }}.mp3" controls autoplay="true"></audio><br/> -->
					<video width="320" height="240" controls>
						<source src="/static/videos/output.mp4" type="video/mp4" autoplay="autoplay">
					</video>


				<div style="margin-left: 45px">

				
				
						<!-- <button id="btn-play" onclick="play_music()">Play</button> -->
						<button id="btn-stop" onclick="pause_music()" class="ant-btn ant-btn-red" >Back</button>
						<!-- <button id="btn-pre" onclick="top_music()">上一首</button>
						<button id="btn-next" onclick="next_music()">下一首</button> -->
				</div>


				
				</div>




			<!-- <a href="" class="expand-video">
				<i class="fa fa-play"></i>
			</a> -->
			<br><br>
			

			<p>Timer:</p>
			<p id="Timer"></p>
		</div>
	</div>
</div>
<!-- slider area end -->
<!-- abt-music area start -->
<section class="abt-music-area" id="about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="abt-msc-content">
					<h2>About Us</h2>
			
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="msc-abt-right">
					<ul>
						
					
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- abt-music area end -->
<!-- upcooming-events area start -->
<section class="upcooming-events bg_dark ptb--100" id="event">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="upv-content">
					<h2>Upcooming CONCERT</h2>
					<h3>GET YOUR LIVE TICKET</h3>
					<h4>COMING TO YOU LIVE
						<span>NOVEMBER 27TH</span>
					</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ad repellendus quae eaque laudantium
						ratione asperiores minima possimus temporibus consectetur.</p>
					<a href="#">Book Now</a>
					<div class="count-down">
						<div data-countdown="2018/11/17"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- upcooming-events area end -->
<!-- trainer area start -->
<section class="trainer-area bg_black ptb--100" id="trainers">
	<div class="container">
		<div class="msc-title section-title">
			<span>Meet</span>
			<h2>Our Musician</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-trainer trainer_s_three">
					<div class="thumb">
						<img src="static/assets/images/trainer/musician/musician-img1.jpg" alt="image">
					</div>
					<div class="content">
						<h4>Rosa Dietrich</h4>
						<p>Best Music Artist</p>
						<ul class="social">
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-trainer trainer_s_three">
					<div class="thumb">
						<img src="static/assets/images/trainer/musician/musician-img2.jpg" alt="image">
					</div>
					<div class="content">
						<h4>Rosa Dietrich</h4>
						<p>Best Music Artist</p>
						<ul class="social">
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-trainer trainer_s_three">
					<div class="thumb">
						<img src="static/assets/images/trainer/musician/musician-img3.jpg" alt="image">
					</div>
					<div class="content">
						<h4>Rosa Dietrich</h4>
						<p>Best Music Artist</p>
						<ul class="social">
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- trainer area end -->
<!-- facts area start -->
<div class="facts-area bg_dark ptb--100">
	<div class="container">
		<div class="msc-title section-title">
			<span>Some of</span>
			<h2>Achievement</h2>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="fact-item">
					<h3 class="counter">30</h3>
					<p>Awards</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="fact-item">
					<h3 class="counter">153</h3>
					<p>Live Show</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="fact-item">
					<h3 class="counter">21</h3>
					<p>Releases</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="fact-item">
					<h3 class="counter">946</h3>
					<p>Fans</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- facts area end -->
<!-- gallery area start -->
<section class="gallery-area bg_black pt--100 pb--60" id="gallery">
	<div class="container">
		<h3 class="d-none">gallery</h3>
		<div class="gallery-masonary row" id="container">
			<div class="glry-item col-md-4">
				<a class="expand-img" href="static/assets/images/gallery/gallery-img1.jpg">
					<img src="static/assets/images/gallery/gallery-img1.jpg" alt="image">
				</a>
			</div>
			<div class="glry-item col-md-4">
				<a class="expand-img" href="static/assets/images/gallery/gallery-img2.jpg">
					<img src="static/assets/images/gallery/gallery-img2.jpg" alt="image">
				</a>
			</div>
			<div class="glry-item col-md-4">
				<a class="expand-img" href="static/assets/images/gallery/gallery-img3.jpg">
					<img src="static/assets/images/gallery/gallery-img3.jpg" alt="image">
				</a>
			</div>
			<div class="glry-item col-md-4">
				<a class="expand-img" href="static/assets/images/gallery/gallery-img4.jpg">
					<img src="static/assets/images/gallery/gallery-img4.jpg" alt="image">
				</a>
			</div>
			<div class="glry-item col-md-4">
				<a class="expand-img" href="static/assets/images/gallery/gallery-img4.jpg">
					<img src="static/assets/images/gallery/gallery-img5.jpg" alt="image">
				</a>
			</div>
		</div>
	</div>
</section>
<!-- gallery area end -->
<!-- feature blog area start -->
<section class="feature-blog bg_dark ptb--100" id="blog">
	<div class="container">
		<div class="msc-title section-title">
			<span>Read</span>
			<h2>Our Letest News</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="blog-content">
						<h2>
							<a href="blog.html">Everyday it provides me with exactly what I need</a>
						</h2>
						<span>June 18, 2017</span>
					</div>
					<div class="blog-thumb">
						<img src="static/assets/images/blog/music-blog/music-blog-img1.jpg" alt="">
						<a href="blog.html" class="read-more">Read More
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="blog-content">
						<h2>
							<a href="blog.html">Everyday it provides me with exactly what I need</a>
						</h2>
						<span>June 18, 2017</span>
					</div>
					<div class="blog-thumb">
						<img src="static/assets/images/blog/music-blog/music-blog-img2.jpg" alt="">
						<a href="blog.html" class="read-more">Read More
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="blog-content">
						<h2>
							<a href="blog.html">Everyday it provides me with exactly what I need</a>
						</h2>
						<span>June 18, 2017</span>
					</div>
					<div class="blog-thumb">
						<img src="static/assets/images/blog/music-blog/music-blog-img3.jpg" alt="">
						<a href="blog.html" class="read-more">Read More
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- feature blog area end -->
<!-- join-club area start -->
<section class="join-club bg_black ptb--100 pt-x-none" id="contact">
	<div class="container">
		<div class="msc-title section-title">
			<span>Stay Connect</span>
			<h2>With Our Music Club</h2>
		</div>
		<div class="join-form">
			<form action="#">
				<input type="text" name="fname" placeholder="Your Full Name">
				<input type="text" name="fname" placeholder="Your Phone">
				<input type="submit" name="submit" value="Send Request" id="jsubmit">
			</form>
		</div>
	</div>
</section>
<!-- join-club area end -->
<!-- contact area start -->
<div class="contact-area bg_dark ptb--100">
	<div class="container">
		<div class="msc-title section-title">
			<span>Find Us</span>
			<h2>Contact</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="contact-content">
					<ul>
						<li>
							<i class="fa fa-map-marker"></i>Race Event BeFaster, UK, 2292 Peachtree Rd NW</li>
						<li>
							<i class="fa fa-phone"></i>+1 123 456 8798</li>
						<li>
							<i class="fa fa-envelope"></i>user@gmail.com</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div id="google_map"></div>
			</div>
		</div>
	</div>
</div>
<!-- contact area end -->
<!-- footer area start -->
<div class="footer-area ptb--50">
	<div class="container">
		<div class="footer-content">
			<p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
	</div>
</div>
<!-- footer area end -->

<script language="javascript">
	var value_music = document.getElementById("value_div").innerHTML;//获取隐藏div标签中的值
	var x = value_music.split(",");//形成js中数组的形式
	var audio = document.getElementById("audio");
	var music = new Array(x.length-1);//减1是为了去掉数组中文字为空的。
	music = x;
	var num = 0;
	var music_name = document.getElementById("music_name");
	var time=0
	var myVar=setInterval(function(){myTimer()},1000);

	function myTimer(){
		time=time+1
		var d=new Date();
		var t=d.toLocaleTimeString();
		document.getElementById("Timer").innerHTML=time;
	}

	{#播放音乐#}
	function play_music() {
		if(audio.paused){
				audio.play();
			}
	}

	{#暂停音乐#}
	function pause_music() {
		clearInterval(myVar);
		var  x=time;  
　　　　     a = "index?time="+x.toString();
		window.open(a);
	}

	{#上一首音乐#}
	function top_music() {
		num = (num +(x.length-2))% (x.length-1);
		if(typeof(music[num])==="undefined" || music[num]===""){
			audio.src = "/static/music/" + music[1] + ".mp3";
			music_name.innerHTML = music[1];
			audio.play();
		}else {
			audio.src = "/static/music/" + music[num] + ".mp3";
			music_name.innerHTML = music[num];
			audio.play();
		}
	}

	{#下一首音乐#}
	function next_music() {
		num = (num +(x.length+2))% (x.length+1);
		if(typeof(music[num])==="undefined" || music[num]===""){
		audio.src ="/static/music/" + music[2]+".mp3";
		music_name.innerHTML = music[2];
		audio.play();
		}else {
		audio.src ="/static/music/" + music[num]+".mp3";
		music_name.innerHTML = music[num];
		audio.play();
		}
	}

	<!--自动播放下一首-->
	audio.addEventListener('ended', function () {      
					next_music();
	}, false);
</script>


<!-- jquery latest version -->
<script src="static/assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="static/assets/js/bootstrap.min.js"></script>
<!-- others plugins -->
<script src="static/assets/js/jquery.slicknav.min.js"></script>
<script src="static/assets/js/counterup.min.js"></script>
<script src="static/assets/js/waypoints.js"></script>
<script src="static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="static/assets/js/isotope.pkgd.min.js"></script>
<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="static/assets/js/countdown.js"></script>
<script src="static/assets/js/swiper.min.js"></script>
<script src="static/assets/js/plugins.js"></script>
<script src="static/assets/js/jquery.zoomslider.min.js"></script>
<script src="static/assets/js/jquery.firefly.js"></script>
<!-- google map -->
<!---<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO_5h890WNShs_YLGivCBfs2U89qXR-7Y&callback=initMap"></script>--->
<script src="static/assets/js/scripts.js"></script>
</body>

</html>
